/* .blue{
    color: blue;
}

.pilus{
    font-size: 30px;
    font-weight: 700;
    color: tomato;
} */


/* .cars{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(211, 154, 173);
  } */